<section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
                <div class="card">

                    <div class="rounded-top d-flex flex-column p-2" style="background-color: whitesmoke; ">
                        {{#if isTutor}}
                        <hr>
                        <h2>Tutor Subjects</h2>
                        {{#unless num}}
                        <form>
                            <div class="form-group">
                                <label for="num">Number of subjects:</label>
                                <input class="form-control" type="number" name="num" id="num" step="1" value="{{num}}">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                    {{/unless}}
                    {{#if num}}
                    <h3>Choose subject and grade(s)</h3>
                    <em>For each subject you can select one or multiple grades if you tutor for more than one grade per
                        subject</em>
                </div>
                <div class="card-body">
                    <form method="post" action="/subjects/add">
                        <input type="hidden" name="num" value="{{num}}">
                        {{#each fields}}
                        <div class="form-group card">
                            <select class="form-control" name="subject{{this}}">
                                {{#each ../subjects}}
                                <option value="{{subject_id}}">{{subject_name}}</option>
                                {{/each}}
                            </select>
                            <select class="form-control" name="grades{{this}}" multiple>
                                {{#each ../grades}}
                                <option value="{{grade_id}}">{{grade_name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        {{/each}}
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" type="submit">add</button>
                        </div>
                    </form>
                    {{/if}}
                    {{/if}}
                    {{#unless isTutor}}
                    <a href="/home">Are you lost? Go back home</a>
                    <!--<h1>You are not a tutor, how did you find this page</h1>-->
                    {{/unless}}
                </div>
            </div>
        </div>
    </div>
    </div>
</section>