<section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
                <div class="card">

                    <div class="rounded-top d-flex flex-row p-2" style="background-color: whitesmoke; height:200px;">
                        <div class="ms-4 mt-5 mr-2 d-flex flex-column">
                            <h1>Bookings</h1>
                            {{#if isStudent}}
                            <p class="ml-1">Hello there are you looking for a tutor, <a href="/book/search">search for
                                    tutor</a></p>
                            {{/if}}
                            {{#if isTutor}}
                            <p class="ml-1">As a tutor to be booked you need to add the subjects that you are tutoring for in your
                                <a href="/profile/edit">profile page</a></p>
                            {{/if}}
                        </div>
                    </div>
                    <div class="card-body">

                    {{#if bookings}}
                    {{#if isStudent}}
                    <ul>
                        {{#each bookings}}
                        <div class="card mb-5" style="width: 93%">
                            <div class="card-body">
                                <p>Tutor: <a href="/profile/{{tutor_id}}">{{tutor}}</a></p>
                                <p>Subject: {{subject}}</p>
                                <p>Grade: {{grade}}</p>
                                <p>Date: {{formatDate date}}</p>
                                <p>Status: {{status}}</p>
                                {{#if feedback}}<p>Feedback: {{feedback}}</p>{{/if}}
                            </div>
                            {{#if updates}}
                            <div>
                                <form action="/book/update" method="post">
                                    <input type="hidden" name="key" value="{{id}}">
                                    <div class="form-group d-flex px-2">
                                        <select class="form-control" name="update">
                                            {{#each updates}}
                                            <option value="{{key}}">{{name}}</option>
                                            {{/each}}
                                        </select>
                                        <button class="btn btn-primary">update</button>
                                    </div>
                                </form>
                            </div>
                            {{/if}}
                        </div>
                        {{/each}}
                    </ul>
                    {{/if}}
                    {{#if isTutor}}
                    <ul>
                        {{#each bookings}}
                        <div class="card mb-5" style="width: 93%">
                            <div class="card-body">
                                <p>Student: <a href="/profile/{{student_id}}">{{student}}</a></p>
                                <p>Subject: {{subject}}</p>
                                <p>Grade: {{grade}}</p>
                                <p>Date: {{formatDate date}}</p>
                                <p>Status: {{status}}</p>
                                {{#if feedback}}<p>Feedback: {{feedback}}</p>{{/if}}
                            </div>
                            {{#if updates}}
                            <div>
                                <form action="/book/update" method="post">
                                    <input type="hidden" name="key" value="{{id}}">
                                    <div class="form-group d-flex px-2">
                                        <select class="form-control" name="update">
                                            {{#each updates}}
                                            <option value="{{key}}">{{name}}</option>
                                            {{/each}}
                                        </select>
                                        <button class="btn btn-primary">update</button>
                                    </div>
                                </form>
                            </div>
                            {{/if}}
                        </div>
                        {{/each}}
                    </ul>
                    {{/if}}
                    {{/if}}

                    {{#unless bookings}}
                    <h2>No bookings have been made yet</h2>
                    {{/unless}}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>