<section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
                <div class="card">

                    <div class="rounded-top d-flex flex-column p-2" style="background-color: whitesmoke; ">
                        <h2>Create booking</h2>
                        <h3>{{fullname}}</h3>
                    </div>
                    <div class="card-body">

                        {{#if tutorSubjects}}
                        <form action="/book/create" method="post">
                            <div class="form-group">
                                <label for="item">Subject and Grade:</label>
                                <select class="form-control" name="item" id="item">
                                    <option value="" selected disabled>select subject and grade</option>
                                    {{#each tutorSubjects}}
                                    <option value="{{id}}">{{subject}} - {{grade}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="date">Date:</label>
                                <input class="form-control" type="date" name="date" id="date" min="{{minDate}}">
                            </div>
                            <div>
                                <button class="btn btn-primary" type="submit">create</button>
                            </div>
                        </form>
                        {{/if}}
                        {{#unless tutorSubjects}}
                        <p>You cannot book this person</p>
                        {{/unless}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>