<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
            <div class="ms-4 mt-5 mr-2 d-flex flex-column" style="width: 150px;">
              <img src="/images/avatar.jpeg"
                alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                style="width: 150px; z-index: 1">
                <div class="d-flex">
                  {{#unless notMe}}
                  <a class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                    style="z-index: 1;" href="#!">
                    Edit profile
                  </a>
                  {{/unless}}
                </div>
            </div>
            <div class="ms-3" style="margin-top: 130px;">
              <h5>{{profile.fullname}}</h5>
              <p>Cape Town, South Africa</p>
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #f8f9fa;">
            <div class="d-flex justify-content-end text-center py-1">

            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="">
              <p class="lead fw-normal mb-1">About</p>
              <div class="p-4" style="background-color: #f8f9fa;">
                <p class="font-italic mb-1">Full name: {{profile.fullname}}</p>
                <p class="font-italic mb-1">Email: <a href="mailto:{{profile.email}}">{{profile.email}}</a></p>
              </div>
            </div>
          </div>
          {{#if isTutor}}
          <div class="card-body p-4 text-black">
            <div class="mb-5">
              <p class="lead fw-normal mb-1" id="subjects">Subjects</p>
              <div class="p-4" style="background-color: #f8f9fa;">
              {{#if tutorSubjects}}
                {{#each tutorSubjects}}
                <p class="font-italic mb-1">{{subject}} - {{grade}} 
                    {{!---
                    <form action="/subjects/remove" method="post">
                    <input type="hidden" name="key" value="{{id}}">
                    <button type="submit">
                    <span class="fa fa-trash"></span>
                    </button>
                </form>
                    --}}
                </p>
                {{/each}}
              {{/if}}
              {{#unless tutorSubjects}}
                <p class="font-italic mb-1">No Subjects</p>
              {{/unless}}
              <a href="/subjects/add">add new subject(s)</a>
              </div>
            </div>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</section>