<h1>Welcome page</h1>

<p>Hello {{ fullname }} </p>

{{#if posts}}
<div>
  {{#each posts}}
  <div>
    <a href="/profile/{{post_author}}"><h3> {{fullname}} </h3></a>
    <span> {{post_created}} </span>
    <p> {{post_text}} </p>
  </div>
  <div>
    <a href="/post/{{post_id}}">View post</a>
  </div>
  {{/each}}
</div>
<div>
  <hr>
  <ul>
    {{#if prevPage}}
    <li>
      <a href="?page={{prevPage}}">&lt; {{prevPage}}</a>
    </li>
    {{/if}}
    <li>
      <a href="javascript:;">{{currentPage}}</a>
    </li>
    {{#if nextPage}}
    <li>
      <a href="?page={{nextPage}}">{{nextPage}} &gt;</a>
    </li>
    {{/if}}
  </ul>
</div>
{{/if}}
{{#unless posts}}
<div>
  <h2>The are no posts available.</h2>
</div>
{{/unless}}