<h1>Messages</h1>

{{#if isVisible}}
{{#each msgMap}}
<div class="message-item">
    <a href="/message/{{id}}">
        <h4>{{@key}} {{#if unread}}({{unread}}){{/if}}</h4>
    </a>
    <em>{{lastText}} - {{time}}</em>
</div>
{{/each}}
{{/if}}

{{#unless isVisible}}
<h3>You do not have any messages</h3>
{{/unless}}