<h1>Profile</h1>
<h2>Name: {{fullname}} </h2>
<h2>Type: {{account_type}} </h2>

{{#if notMe}}
<a href="/message/{{profile_id}}">Message</a>
{{/if}}
{{#unless notMe}}
<form action="/post" method="post">
  <label for="post_text">Post</label>
  <textarea name="post_text" id="post_text" cols="20" rows="4" required></textarea>
  <button type="submit">Post</button>
</form>
{{/unless}}

{{#if posts}}
<div>
  {{#each posts}}
  <div>
    <h3> {{fullname}} </h3>
    <span> {{post_created}} </span>
    <p> {{post_text}} </p>
  </div>
  <div>
    <a href="/post/{{post_id}}">View post</a>
  </div>
  {{/each}}
</div>
{{/if}}
{{#unless posts}}
<div>
  <h2>The are no posts available.</h2>
</div>
{{/unless}}