{{#if comment}}
<div>
  <a href="/post/{{post_id}}">Go back to post</a>
</div>
<div>
  <h3>{{comment.fullname}}</h3>
  <span>{{comment.comment_created}}</span>
  <p>{{comment.comment_text}}</p>
</div>

<form action="/reply/{{comment.comment_id}}" method="post">
  <label for="reply_text">Reply</label>
  <textarea name="reply_text" id="reply_text" cols="20" rows="4" required></textarea>
  <button type="submit">Post</button>
</form>
{{/if}}

{{#if replies}}
{{#each replies}}
<div>
  <h4>{{fullname}}</h4>
  <span>{{reply_created}}</span>
  <p>{{reply_text}}</p>
</div>
{{/each}}
{{/if}}

{{#unless replies}}
<h2>No replies yet</h2>
{{/unless}}

{{#unless comment}}
 <h1>Comment Not Found</h1>
{{/unless}}